<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KindergartenManagementSystem.Properties.Settings.DB_KindergartenConnectionString"
            connectionString="Data Source=tcp:libtiff.database.windows.net,1433;Initial Catalog=DB_Kindergarten;User ID=DBOWNER;Password=Test1234!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>